In [1]:
2+2

4

In [2]:
a = 10
b = 3.14
c = True

In [3]:
x, y, z = 1, 2, 3

In [6]:
name = input("enter your name")
city = input("your city")
age = input("your age")

In [7]:
a = int(input('enter number'))

In [8]:
print(name)

farhan

In [9]:
print('my name is', name)

my name is farhan

In [10]:
print(name, city, age)

farhan barabanki 23

In [11]:
print(name)
print(age)
print(city)

farhan
23
barabanki

In [20]:
a,b,c = 11,12,14
print(a,b,c)
print("we have three value a=",a, "b=",b, "c",c)
print(f'we have the values a={a}, b={b}, c={c}')
a>b and b>100

11 12 14
we have three value a= 11 b= 12 c 14
we have the values a=11, b=12, c=14

False

In [12]:
print(a,b,c,sep=",")

11,12,14

In [3]:
print("my name is farhan ", end = '')
print("from barabanki")

my name is farhan from barabanki

In [4]:
pi = 22/7
print(pi)

3.142857142857143

In [13]:
print("the value of pi", pi)
print("the value of pi",round(pi,2))
print(f'the value of pi{pi:.2f}')

the value of pi 3.142857142857143
the value of pi 3.14
the value of pi3.14

In [19]:
x=10
x+=10
x-=10
x*=10
x**=3

In [23]:
colors = ['red','white','blue']
'red' in colors
'yellow' in colors

False

In [1]:
a=10
b=20
a is b
c =10
a is c

True