In [1]:
fruits = {'apple':2, 'banana' :3, 'orange' :4}

In [2]:
grocery = {
    'fruits':['apple','banana','orange'],
    'vegetables':['potato','tomato','onion']
 }

In [28]:
reports = {
    'rajesh':{'english':98,'math':80,'science':79},
    'suresh':{'english':98,'math':80,'science':79}
}

In [4]:
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 4}
{'fruits': ['apple', 'banana', 'orange'], 'vegetables': ['potato', 'tomato', 'onion']}
{'rajesh': {'english': 98, 'math': 80, 'science': 79}}

In [5]:
from pprint import pp
print(fruits)
print(grocery)
print(reports)

{'apple': 2, 'banana': 3, 'orange': 4}
{'fruits': ['apple', 'banana', 'orange'], 'vegetables': ['potato', 'tomato', 'onion']}
{'rajesh': {'english': 98, 'math': 80, 'science': 79}}

In [6]:
fruits

{'apple': 2, 'banana': 3, 'orange': 4}

In [7]:
fruits['apple'] #retrieve value from the dictionary

2

In [8]:
fruits['apple'] = 10 #update value

In [9]:
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 4}

In [11]:
fruits['mango'] = 20
pp(fruits)

{'apple': 10, 'banana': 3, 'orange': 4, 'mango': 20}

In [15]:
grocery['spices'] =['turmeri','chilli','corriender']
pp(grocery)

{'fruits': ['apple', 'banana', 'orange'],
 'vegetables': ['potato', 'tomato', 'onion'],
 'spices': ['turmeri', 'chilli', 'corriender']}

In [17]:
grocery['fruits'].append('mango')

In [26]:
pp(grocery)
grocery['fruits'][0]
grocery['fruits'][3]

{'fruits': ['apple', 'banana', 'orange', 'mango'],
 'vegetables': ['potato', 'tomato', 'onion'],
 'spices': ['turmeri', 'chilli', 'corriender']}

'mango'

In [20]:
reports['rajesh']['evs'] = 90
pp(reports)

{'rajesh': {'english': 98, 'math': 80, 'science': 79, 'evs': 90}}

In [27]:
fruits.pop('banana')

3

In [34]:
fruits.keys() #all keys

dict_keys(['apple', 'orange', 'mango'])

In [35]:
fruits.values() #all values

dict_values([10, 4, 20])

In [36]:
fruits.items() #all key values pair

dict_items([('apple', 10), ('orange', 4), ('mango', 20)])

In [37]:
#traversal
for k,v in fruits.items():
    print(k,v)

apple 10
orange 4
mango 20

In [38]:
reports['suresh']['english']

98

In [39]:
reports.get('ramesh')

In [40]:
reports.get('ramesh','ye studend kabhi aya hi nhi')

'ye studend kabhi aya hi nhi'

In [41]:
reports.get('surash','ye studend roz aata hai')

'ye studend roz aata hai'

In [44]:
reports['sunita'] = {
    'english':98,'math':97,'science':93
    
}

In [45]:
pp(reports)

{'rajesh': {'english': 98, 'math': 80, 'science': 79},
 'suresh': {'english': 98, 'math': 80, 'science': 79},
 'sunita': {'english': 98, 'math': 97, 'science': 93}}

In [47]:
for students, details in reports.items():
    print(students)
    for subjects, marks in details.items():
        print(f'{marks} in {subjects}')
    print('---'*10)

rajesh
98 in english
80 in math
79 in science
------------------------------
suresh
98 in english
80 in math
79 in science
------------------------------
sunita
98 in english
97 in math
93 in science
------------------------------

In [54]:
employees = {
    "emp1": {
        "name": "Mohd.Farhan",
        "department": "abc",
        "salary": 50000,
        "skills": ["Communication", "Negotiation", "Sales Strategy"],
        "projects": {
            'pro_name':'xyz',
            'pro_du': 3,
            'pro_tech':['power bi']
        }
    },
    "emp2": {
        "name": "Akrama javed",
        "department": "xyz",
        "salary": 60000,
        "skills": ["p", "q", "r"],
        "projects": {
            'pro_name':'xyz',
            'pro_du': 3,
            'pro_tech':['power bi']
        }
    },
    "emp3": {
        "name": "Mihir Tondon",
        "department": "tuv",
        "salary": 55000,
        "skills": ["f", "g", "h"],
        "projects": {
            'pro_name':'xyz',
            'pro_du': 3,
            'pro_tech':['power bi']
        }
    },
    "emp4": {
        "name": "Ananya",
        "department": "hij",
        "salary": 45000,
        "skills": ["b", "a", "c"],
        "projects": {
            'pro_name':'xyz',
            'pro_du': 3,
            'pro_tech':['power bi']
        }
    },
    "emp5": {
        "name": "Nitisha",
        "department": "klm",
        "salary": 52000,
        "skills": ["x", "y", "z"],
        "projects": {
            'pro_name':'xyz',
            'pro_du': 3,
            'pro_tech':['power bi']
    }
}
}

print(employees["emp1"])
print(employees["emp2"])
print(employees["emp3"])
print(employees["emp4"])
print(employees["emp5"])

{'name': 'Mohd.Farhan', 'department': 'abc', 'salary': 50000, 'skills': ['Communication', 'Negotiation', 'Sales Strategy'], 'projects': {'pro_name': 'xyz', 'pro_du': 3, 'pro_tech': ['power bi']}}
{'name': 'Akrama javed', 'department': 'xyz', 'salary': 60000, 'skills': ['p', 'q', 'r'], 'projects': {'pro_name': 'xyz', 'pro_du': 3, 'pro_tech': ['power bi']}}
{'name': 'Mihir Tondon', 'department': 'tuv', 'salary': 55000, 'skills': ['f', 'g', 'h'], 'projects': {'pro_name': 'xyz', 'pro_du': 3, 'pro_tech': ['power bi']}}
{'name': 'Ananya', 'department': 'hij', 'salary': 45000, 'skills': ['b', 'a', 'c'], 'projects': {'pro_name': 'xyz', 'pro_du': 3, 'pro_tech': ['power bi']}}
{'name': 'Nitisha', 'department': 'klm', 'salary': 52000, 'skills': ['x', 'y', 'z'], 'projects': {'pro_name': 'xyz', 'pro_du': 3, 'pro_tech': ['power bi']}}