In [2]:
x = [1,2,3,4,5]
y =  []
z = ['apple', 'banana', 'cherry']
a = ['alex',5,'sam',2,'jerry']
a3 = [[1,2,3],
      [4,5,6],
      [7,8,9]]

In [8]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year
movies = [Movie('The Matrix',1999),
         Movie('The Matrix Reloaded',2003),
        Movie('The Matrix Reloaded',2003),
        Movie('The Matrix Reloaded',2003)]

In [9]:
name = 'Mohd farhan'
list(name)

['M', 'o', 'h', 'd', ' ', 'f', 'a', 'r', 'h', 'a', 'n']

In [10]:
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
print(a[0])
print(a[-1])

alex
jerry

In [14]:
#slicing
data = list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[-10:])
print(data[23:36])
print(data[50:30:-1])
print(data[1::2])
print(data[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
for i in a:
    print(i)

alex
5
sam
2
jerry

In [18]:
movies = []
movies.append('shrek')
movies.append('The Matrix')
movies.append('The matrix Reloaded')
movies.append('Kungfu Panda')
movies.append('shrek')

In [19]:
movies[2] = 'Kungfu panda'
movies

['shrek', 'The Matrix', 'Kungfu panda', 'Kungfu Panda', 'shrek']

In [21]:
movies.insert(3,'Kungfu panda 3')
movies

['shrek',
 'The Matrix',
 'Kungfu panda',
 'Kungfu panda 3',
 'Kungfu panda',
 'Kungfu Panda',
 'shrek']

In [26]:
movielist = []
for i in range(5):
    name = input('enter the movie name')
    movielist.append(name)
    print(movielist)

['stop st']
['stop st', 'stop']
['stop st', 'stop', 'stop']
['stop st', 'stop', 'stop', 'stop']
['stop st', 'stop', 'stop', 'stop', 'stop']

In [23]:
x = [1,2,3,4]
y = [5,6,7,8]
x + y

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
movies

['shrek',
 'The Matrix',
 'Kungfu panda',
 'Kungfu panda 3',
 'Kungfu panda',
 'Kungfu Panda',
 'shrek']

In [28]:
movies.remove('shrek')

In [29]:
movies.pop()

'shrek'

In [31]:
movies.pop(3)

'Kungfu panda'

In [32]:
movies

['The Matrix', 'Kungfu panda', 'Kungfu panda 3', 'Kungfu Panda']

In [33]:
value = input('enter the movie bame')
if value in movies:
    movies.remove(value)
else:
    print('not found')

not found

In [34]:
movies.clear()

In [35]:
movies

[]

In [38]:
books = ['the final empire','heroes','the way of king','warbreaker','white sand','elantris','oathbringer']

In [37]:
books.index('white sand')

4

In [39]:
x = [1,2,1,1,3,3,4,3,5,3,2,4,34,34,34,4,4,34]
print(x.count(1))
print(x.count(3))
print(x.count(34))
print(x.count(4))

3
4
4
4

In [40]:
books.reverse()
print(books)

['oathbringer', 'elantris', 'white sand', 'warbreaker', 'the way of king', 'heroes', 'the final empire']

In [41]:
books.sort() # ascending order
print(books)

['elantris', 'heroes', 'oathbringer', 'the final empire', 'the way of king', 'warbreaker', 'white sand']

In [42]:
books.sort(reverse = True) #descending order
print(books)

['white sand', 'warbreaker', 'the way of king', 'the final empire', 'oathbringer', 'heroes', 'elantris']

In [43]:
books_bkup = books.copy()

In [44]:
books_bkup

['white sand',
 'warbreaker',
 'the way of king',
 'the final empire',
 'oathbringer',
 'heroes',
 'elantris']

In [45]:
books2 = books

In [46]:
books.append('The way of water')
print(books)
print(books2)
print(books_bkup)

['white sand', 'warbreaker', 'the way of king', 'the final empire', 'oathbringer', 'heroes', 'elantris', 'The way of water']
['white sand', 'warbreaker', 'the way of king', 'the final empire', 'oathbringer', 'heroes', 'elantris', 'The way of water']
['white sand', 'warbreaker', 'the way of king', 'the final empire', 'oathbringer', 'heroes', 'elantris']

In [47]:
books2 is books

True

In [48]:
books2 is books_bkup

False