In [5]:
a = 'this is a string'
b = "this is another string"
c = '''this is a 
mutiline string'''
d = b'this is a byte string'
e = u'this is a \nunicode string'
f = r'this is a \nraw string'
print(e)
print(f)

this is a
unicode string
this is a \nraw string

In [10]:
path = r'C:\Users\Farhan\Documents\Data Analytics\strings.ipynb'
print(path)

C:\Users\Farhan\Documents\Data Analytics\strings.ipynb

In [11]:
x = 10
x = str(x)
print(x)

10

In [1]:
str = 'digipodium'
print('str =', str)

print('str =', str[0])

print('str =', str[1])

print('str =', str[-1])

print('str =', str[-2])

str = digipodium
str = d
str = i
str = m
str = u

In [9]:
s = 'digipodium'
slice1 = s[4:7]
print(slice1)

pod

In [11]:
name = 'vijay deenanath chauhan'
name[:5]
name[-7:]
name[-17:-7]

'deenanath '

In [12]:
name[::-1]

'nahuahc htananeed yajiv'

In [53]:
x = input('enter a number')
if x.isnumeric():
    x = int(x)
    print(x)
else :
    print('invalid input')

2345

In [19]:
x = input('enter a name')
if x.isalnum():
    print('hello',x)
else :
    print('invalid input')

hello farhan

In [21]:
x = input('enter a name')
if not x.isalnum():
    print('special character',x)
else :
    print('not special')

special character %

In [24]:
names = ['Mr. ajay','Mrs. tina','Mr. sanjay','Er. ajay','Mrs. rani']
for name in names:
    if name.startswith('Mr.') or name.startswith('Mrs.'):
        print(f'Welcome {name}')
    else:
        print(f'get out {name}')

Welcome Mr. ajay
Welcome Mrs. tina
Welcome Mr. sanjay
get out Er. ajay
Welcome Mrs. rani

In [52]:
files = ['abc.txt','xyz.doc','fg.py','hi.txt']
for item in files:
    if item.endswith('txt') or item.endswith('py'):
        print(f'file{10},{item}')
    else:
        print(f'unknown{10}',{item})

file10,abc.txt
unknown10 {'xyz.doc'}
file10,fg.py
file10,hi.txt

In [31]:
name = 'journey to the west'
print(name.upper())
print(name.lower())
print(name.title())
print(name.capitalize())
print(name.swapcase())
print(name.casefold())

JOURNEY TO THE WEST
journey to the west
Journey To The West
Journey to the west
JOURNEY TO THE WEST
journey to the west

In [37]:
s = 'my name is farhan'
print(s.count('a'))
print(s.find('name'))

3
3

In [34]:
tv = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
print(tv)

5

In [40]:
r = 'my name is farhan'
print(r.find('name'))
r.replace('my','My')

3

'My name is farhan'

In [46]:
r.split()

['my', 'name', 'is', 'farhan']

In [48]:
words = ['one','two','three','four']
" ".join(words)

'one two three four'

In [51]:
name = '     farhan     '
print(name)
print(name.strip())

     farhan
farhan

In [ ]:
#1.Create a string and print it.
#2.Take a string input and print it's length.
#3.Print the last word of the string Python is great using slices.
#4.Print the each word in different line of string python is everywhere.
#5.Print the string Hello World! in reverse.
#6.Convert the string How are you? in uppercase.
#7.Convert the string How Is It Going? in lowercase.
#8.Join the following list by spaces( ) and print the result.
#words = ['Python', 'is', 'easy', 'to', 'learn']
#9.Print a multiline string using a single print
#10.Print this string to move to newline '\n' is used.

In [2]:
#1.Create a string and print it.
name = 'My name is Mohd Farhan'
print(name)

My name is Mohd Farhan

In [8]:
#2.Take a string input and print it's length.
name = input('enter your name')
print(len(name))
print(name)

17
my name is farhan

In [16]:
#3.Print the last word of the string Python is great using slices.
str = ('python is great')
str[-5:]

'great'

In [29]:
#4.Print the each word in different line of string python is everywhere.
str = ['python', 'is', 'everywhere']
print(str[0])
print(str[1])
print(str[2])

python
is
everywhere

In [20]:
#5.Print the string Hello World! in reverse.
str = 'hello world'
str[::-1]

'dlrow olleh'

In [23]:
#6.Convert the string How are you? in uppercase.
str = 'How are you?'
print(str.upper())

HOW ARE YOU?

In [24]:
#7.Convert the string How Is It Going? in lowercase.
str = 'How Is It Going?'
print(str.lower())

how is it going?

In [25]:
#8.Join the following list by spaces( ) and print the result.
#words = ['Python', 'is', 'easy', 'to', 'learn']
words = ['Python', 'is', 'easy', 'to', 'learn']
" ".join(words)

'Python is easy to learn'

In [26]:
#9.Print a multiline string using a single print
str = '''My name 
is Mohd Farhan'''
print(str)

My name
is Mohd Farhan

In [31]:
#10.Print this string to move to newline '\n' is used.
str = u'this \nis \nMohd \nFarhan'
print(str)

this
is
Mohd
Farhan