In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [10]:
a =12,13,15,16,17,18 #tuple packing
print(a)
print(type(a))

(12, 13, 15, 16, 17, 18)
<class 'tuple'>

In [5]:
b = (13,) #single element tuple
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [6]:
x1,x2,x3 = a #tuple unpacking a has 3 elements
print(a)

(12, 13, 15)

In [11]:

x1,x2,*x3 = a
print(x1,x2,x3)

12 13 [15, 16, 17, 18]

In [12]:
a[-5:]

(13, 15, 16, 17, 18)

In [13]:
for i in a:
    print(i)

12
13
15
16
17
18

In [16]:
x = (1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.index(3))
print(x.index(3,5))

4
4
2
5

In [19]:
a = [1,2,3]
tuple(a)
b = list(a)
print(b)
print(a)

[1, 2, 3]
[1, 2, 3]

In [20]:
#set

x = {1,2,3,1,2,3,1,2,3}
print(x)
print(type(x))

{1, 2, 3}
<class 'set'>

In [21]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [23]:
s.add(3)
s.add(4)
s.add('hello')
s.add('all')
print(s)

{3, 4, 'hello', 'all'}

In [24]:
s.discard(4)
print(s)

{3, 'hello', 'all'}

In [27]:
for i in s:
 print(i)

3
hello
all

In [28]:
#set operations
group1 = {'apple','banana','orange','grapes','mango','pineapple'}
group2 = {'apple','banana','cherry','grapes','watermelon','kiwi'}
print(group1 | group2) #Union

{'orange', 'cherry', 'mango', 'pineapple', 'watermelon', 'apple', 'grapes', 'banana', 'kiwi'}

In [30]:
#intersection
print(group1 & group2)
print(group1.intersection(group2))

{'banana', 'apple', 'grapes'}
{'banana', 'apple', 'grapes'}

In [33]:
#difference
print(group2 - group1)
print(group1 - group2)
print(group2.difference(group1))

{'cherry', 'kiwi', 'watermelon'}
{'orange', 'mango', 'pineapple'}
{'cherry', 'kiwi', 'watermelon'}

In [35]:
#symmetric difference
print(group1 ^ group2)
print(group1.symmetric_difference(group2))

{'cherry', 'orange', 'pineapple', 'kiwi', 'mango', 'watermelon'}
{'cherry', 'orange', 'pineapple', 'kiwi', 'mango', 'watermelon'}

In [48]:
report = [
    ['Rohan',[
        ['maths',90],
        ['science',90],
        ['english',89],
    ]],
]

In [51]:
for student in report:
    for details in student:
        if isinstance(details,str):
            print(details)
            if isinstance(details,list):
                for subject in details:
                    print(subject[0],subject[1])

Rohan